body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 121, 1) 35%, rgba(0, 212, 255, 0.12) 100%);
    /*background: linear-gradient(0deg, rgb(117, 55, 6) 0%, rgb(204, 194, 50) 35%, rgb(175, 164, 121) 100%);*/
}